body {
    margin: 0!important;
    font-family: open sans,tahoma,sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: #606060;
    background-color: #fff;
}
.pala {
	display: block;
	margin-top: 20px;
    text-align: center;
}
.home {
	display: inline-block;
    width: 160px;
    height: 34px;
    background: url(../img/download.png) center no-repeat;	
    background-size: contain;
}
#content-container {
	margin: 20px 0;
}
.pt_auto {
    padding-top: 2%!important;
}
.userformtext{
    color: rgba(0,0,0,.54);
    font-weight: 500;
}
.user-account-container{
	display:flex;
	align-items:center;
	margin-bottom:20px;
	min-height:621px;
}
.row-fluid {
	width: 100%;
}
kaki{
    display: block;
    padding: 15px 0;
    width: 100%;
    border-top: .5px solid #e0e0e0;
}
.jualbelimudah {
    display: block;
    float: left;
    margin-right: 80px;
    max-width: 500px;
    text-align: center;
}
.span6.ta-center {
    margin-left: 13%;
}
.container {
    width: 960px!important;
    margin: 0 auto!important;
    padding: 0!important;
}
.jualbelimudahlogo {
    display: inline-block;
    width: 360px;
    margin-bottom: 31px;
	margin-left: 30px;
}
.tulisanbawah{
	font-size:1.4em;
	font-weight: 600;
    margin-bottom: 5px;
    line-height: normal;
}
.tulisanlogoburung {
    display: inline-block;
    width: 360px;
    margin-bottom: 31px;
    object-fit: contain;
}
.formakun {
    display: block;
    height: 460px;
    width: 400px;
    margin: 0 0 0 50px;	
    padding: 24px 40px 32px;
    box-sizing: border-box;
}
.formakunborder {
	border: 1px solid #e0e0e0;
    border-radius: 3px!important;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1)!important;
}

img.tulisanlogoburung {
	
    max-width: 100%;
}
.headerform {
    position: relative;
    display: block;
    margin-bottom: 25px;
    text-align: center;
}
.separator{
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.garis{
    display: inline-block;
    border: 1px solid rgba(0,0,0,.12);
    width: 50%;
}
.tulisanseparator{
    font-size: 12px;
    text-align: center;
    color: rgba(0,0,0,.38);
    padding: 0 18px;
    white-space: nowrap;
}
#inputEmail{
    width:100%;
    padding: 6px 10px;
    font-size: 14px;
    color: #555;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: none;
    line-height: normal;
}
.judulform {
    font-weight: 500;
    font-size: 24px;
    color: rgba(0,0,0,.7);
    margin-bottom: 8px;
    line-height: 1;
}
.customstyle{
    text-align:center;
    color: rgba(0,0,0,.38);
    margin-top:20px;
}
.btn-mycustom {
	color: green;
}

.btn-mycustom:hover {
    background-color: green;
    color:white;
}
.btn {
    margin-top:20px;
    width:100%;
    background: #42B549 radial-gradient(circle,transparent 1%,#42B549 1%) center/15000%;
    color:white;
}

.fw-semibold {
    font-weight: 500;
}
.fw-semibold:hover {
    color:red!important;
}
.gambartombol{
    margin-left:15px;
    margin-right:10px; 
    display: inline-block;
    width: 20px;
    height: 20px;
    font-weight:600;
    font-size: 100px;
}
a {
    color: #42b549!important;
    text-decoration: none!important;
    cursor: pointer;
    }
    #kotak{
        width:100%;
        display:flex;
        box-sizing: content-box;
    }
    .custompadding{
        margin-left:15px;

    }
#tombol {
    background:white radial-gradient(circle,transparent 1%,white 1%) center/15000%;;
    width:50%;
    height:50px;
    display:flex;
    border: 1px solid #e0e0e0;
    border-radius: 3px!important;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1)!important;
}
#tombol:hover{
    background-color: #f5f5f5;
    color: rgba(0,0,0,.38);

}
.test{ 
	
	width:100%;
	padding: 0 10px 10px 0;
	
}
footer.kaki{
    padding-top:15px;
    border-top: .5px solid #e0e0e0;
}
.bantuin{
    border-left: 1px solid #e0e0e0;
    margin-left: 10px;
    line-height: 1.2;
    padding-left: 14px;
}